.App {
	.firstpage {
		z-index: 5;
		position: fixed;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #191d2b;
		transition: all 0.5s linear;
		.btnbig {
			left: 25%;
			padding: 1rem 2rem;
			background-color: #037fff;
			width: 50%;
			outline: none;
			border: none;
			font-family: inherit;
			font-size: inherit;
			color: white;
			text-transform: uppercase;
			cursor: pointer;
			margin-top: 1rem;
			position: relative;
			transition: all 0.5s ease-in-out;
		}
		.btnbig:hover {
			animation: shake 0.5s;
			color: #037fff;
			background-color: white;
		}
	}
	.home-toggle {
		left: -100%;
	}
	.sidebar {
		width: 16%;
		height: 100%;
		background-color: #191d2b;
		position: fixed;
		z-index: 4;
		border-right: 1px solid #2e344e;
		transform-origin: left;
		@media screen and (max-width: 1000px) {
			transition: all 0.4s ease-in-out;
			transform: translateX(-100%);
			width: 30%;
		}
		@media screen and (max-width: 411px) {
			width: 50%;
		}
	}
	.nav-toggle {
		@media screen and (max-width: 1000px) {
			transition: all 0.4s ease-in-out;
			transform: translateX(0);
		}
	}

	.main-content {
		width: 84%;
		margin-left: 16%;
		background-color: #10121b;
		min-height: 100vh;
		display: grid;
		position: relative;
		.content {
			margin: 0rem 15rem;
			@media screen and (max-width: 1100px) {
				margin: 0rem 10rem;
			}
			@media screen and (max-width: 1400px) {
				margin: 0rem 10rem;
			}
			@media screen and (max-width: 1400px) {
				margin: 0rem 10rem;
			}
			@media screen and (max-width: 710px) {
				margin: 0rem 2rem;
			}
		}
		@media screen and (max-width: 1000px) {
			margin-left: 0;
			width: 100%;
		}
	}
	p,
	.img,
	button,
	span,
	.write-area,
	.project,
	.display-area,
	.title,
	.ContactItem,
	a,
	.about-info {
		z-index: 3;
	}
}

.nav-btn {
	position: fixed;
	z-index: 4;
	right: 10%;
	top: 5%;
	width: 4rem;
	height: 4rem;
	display: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	.lines-1,
	.lines-2,
	.lines-3 {
		height: 0.4rem;
		width: 100%;
		background-color: #3858cc;
		pointer-events: none;
		display: none;
		border-radius: 20px;
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	@media screen and (max-width: 1000px) {
		display: block;
		.lines-1,
		.lines-2,
		.lines-3 {
			display: block;
		}
	}
}
@keyframes shake {
	0% {
		transform: translateX(0);
	}
	12% {
		transform: translateX(25px);
	}

	25% {
		transform: translateX(-25px);
	}
	37% {
		transform: translateX(25px);
	}

	50% {
		transform: translateX(-25px);
	}
	62% {
		transform: translateX(25px);
	}

	75% {
		transform: translateX(-25px);
	}
	87% {
		transform: translateX(25px);
	}
	100% {
		transform: translateX(0px);
	}
}
